<a href="https://colab.research.google.com/github/RCaminero/snowflakeWarehouse/blob/main/snowflakeWarehouse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INSTALACIÓN DE SNOWFLAKE PARA PYTHON**

In [ ]:
pip install --upgrade snowflake-connector-python

In [ ]:
pip install snowflake-connector-python[secure-local-storage.pandas]

**CREANDO LA CONEXIÓN AL DATA WAREHOUSE DE SNOWFLAKE**

In [ ]:
import snowflake.connector

#Creando la conexión

# Usa tus credenciales

conn=snowflake.connector.connect(
    user='',
    password='',
    account='',
    warehouse='',
    database='',
    schema=''
)

**CONSULTANDO DATOS DEL WAREHOUSE**

In [ ]:
#Creando un cursor y consultando datos

curs=conn.cursor()

curs.execute("USE ROLE ACCOUNTADMIN")

sql='select * from "DATA_DB"."USERS"' # Usa tu tabla en tu schema

curs.execute(sql)

df=curs.fetch_pandas_all()

df

,USERNAME,EMAIL,PASSWORD,PHONE,CITY,COUNTRY
0,GDIAZ,GDIAZ@GMAIL.COM,12345,809-233-4322,LA VEGA,REPUBLICA DOMINICANA
1,RCAMINERO,RCAMINERO@GMAIL.COM,12345,809-768-0033,SANTIAGO,REPUBLICA DOMINICANA

**AGREGANDO DATOS AL WAREHOUSE Y CONSULTANDO**

In [ ]:
#Insertando datos y consultando

curs=conn.cursor()

curs.execute("USE ROLE ACCOUNTADMIN")

sql="INSERT INTO USERS (USERNAME, EMAIL, PASSWORD, PHONE, CITY, COUNTRY) VALUES ('JPEREZ', 'JEREZ@GMAIL.COM', '12345', '809-468-7893', 'BONAO', 'REPUBLICA DOMINICANA');" # Usa tu tabla

curs.execute(sql)

sql='select * from "DATA_DB"."USERS"'
curs.execute(sql)

df=curs.fetch_pandas_all()


df

,USERNAME,EMAIL,PASSWORD,PHONE,CITY,COUNTRY
0,GDIAZ,GDIAZ@GMAIL.COM,12345,809-233-4322,LA VEGA,REPUBLICA DOMINICANA
1,RCAMINERO,RCAMINERO@GMAIL.COM,12345,809-768-0033,SANTIAGO,REPUBLICA DOMINICANA
2,LRAMIREZ,LRAMIREZ@GMAIL.COM,12345,809-468-7893,BONAO,REPUBLICA DOMINICANA